[mariadb]
log-bin
server_id=SERVER_ID
log-basename=binlog
binlog_format=MIXED
binlog_row_image=MINIMAL
log-slave-updates=true
# I don't know now should we use replicate-same-server-id or no.
# If we run clean server with unique server-id, then it will get all
# transactions anyway. If we setup a server which was previously in the cluster
# then it probably should not replay transactions which was performed earlier
# by the server.
# https://mariadb.com/kb/en/mariadb/mysqld-options/#-replicate-same-server-id
# replicate-same-server-id=1
gtid_strict_mode=ON

# Binlog lifetime
max_binlog_size=MAX_BINLOG_SIZE
expire_logs_days=EXPIRE_LOGS_DAYS

# Semi-sync options
rpl_semi_sync_master_enabled=SEMI_SYNC_REPLICATION_ENABLED
rpl_semi_sync_slave_enabled=SEMI_SYNC_REPLICATION_ENABLED
rpl_semi_sync_master_wait_point=AFTER_SYNC
rpl_semi_sync_master_wait_no_slave=OFF
rpl_semi_sync_master_timeout=10
